<div class="container px-4">
  <h1 class="mb-5 font-bold text-xl">
    Evaluated Repositories
  </h1>
  <div class="grid grid-cols-3 gap-4">
    @if (evaluations()) {
      @for (evaluation of evaluations(); track evaluation.id) {
        <mat-card appearance="outlined">
          <mat-card-content>
            <p class="font-semibold mb-3">
              {{ evaluation.name }}
            </p>
            <ul class="list-disc text-sm pl-5 mb-3">
              <li>Language: </li>
              <li>Url Repo: {{ evaluation.url }}</li>
              <li>Branch Name: {{ evaluation.branch }}</li>
              <li>Create Project Date: {{ evaluation.created_at }}</li>
              <li>Update Project Date: {{ evaluation.updated_at }}</li>
              <li>Rule Group Name: </li>
            </ul>
            @if (!evaluation.branch) {
              <button class="w-full" mat-stroked-button>Inspect Project</button>
            } @else {
              <button class="w-full" mat-flat-button>Inspection Details</button>
            }
          </mat-card-content>
        </mat-card>
      }
    }
  </div>
</div>
