<div class="container px-4">
  <h1 class="mb-5 font-bold text-xl">
    Evaluated Repositories
  </h1>
  <div class="grid grid-cols-3 gap-4">
    <mat-card appearance="outlined">
      <mat-card-content>
        <p class="font-semibold mb-3">
          Proyecto de programación intermedia
        </p>
        <ul class="list-disc text-sm pl-5 mb-3">
          <li>Lines of Code Evaluated: 30</li>
          <li>Score: 400</li>
          <li>Amount of Files: 40</li>
          <li>Branch Name: main</li>
          <li>Evaluation Date: 03/11/2024</li>
        </ul>
        <button class="w-full" mat-flat-button>View Detail</button>
      </mat-card-content>
    </mat-card>
    <mat-card appearance="outlined">
      <mat-card-content>
        <p class="font-semibold mb-3">
          Proyecto de programación intermedia
        </p>
        <ul class="list-disc text-sm pl-5 mb-3">
          <li>Lines of Code Evaluated: 30</li>
          <li>Score: 400</li>
          <li>Amount of Files: 40</li>
          <li>Branch Name: main</li>
          <li>Evaluation Date: 03/11/2024</li>
        </ul>
        <button class="w-full" mat-flat-button>View Detail</button>
      </mat-card-content>
    </mat-card>
    <mat-card appearance="outlined">
      <mat-card-content>
        <p class="font-semibold mb-3">
          Proyecto de programación intermedia
        </p>
        <ul class="list-disc text-sm pl-5 mb-3">
          <li>Lines of Code Evaluated: 30</li>
          <li>Score: 400</li>
          <li>Amount of Files: 40</li>
          <li>Branch Name: main</li>
          <li>Evaluation Date: 03/11/2024</li>
        </ul>
        <button class="w-full" mat-flat-button>View Detail</button>
      </mat-card-content>
    </mat-card>
  </div>
</div>
