<div class="container px-4">
  <h1 class="mb-5 font-bold text-xl">
    Create Rules Group
  </h1>
  <form [formGroup]="createRulesForm" (ngSubmit)="createRules()" class="space-y-6">
    <mat-form-field class="w-full">
      <mat-label>Name</mat-label>
      <input formControlName="name" type="text" matInput>
    </mat-form-field>

    <mat-form-field class="w-full">
      <mat-label>Description</mat-label>
      <textarea formControlName="description" rows="3" matInput placeholder="Add rules description"></textarea>
    </mat-form-field>

    <div class="w-full">
      <div class="space-y-4">
        @for (dimension of groupedRules() | keyvalue; track dimension.key) {
          <div>
            <h2 class="text-lg font-bold mb-2 capitalize">{{ dimension.key }}</h2>

            @let ruleTypes = dimension.value | keyvalue;
            @for (ruleType of ruleTypes; track ruleType.key) {
              <div class="ml-4">
                <h3 class="text-base font-semibold mb-1 capitalize">{{ ruleType.key }}</h3>

                @let rules = ruleType.value;
                <mat-chip-listbox formControlName="rule_ids" multiple>
                  @if (rules) {
                    @for (rule of rules; track rule.id) {
                      <mat-chip-option [value]="rule.id">
                        {{ rule.name }}
                      </mat-chip-option>
                    }
                  }
                </mat-chip-listbox>
              </div>
            }
          </div>
        }
      </div>
    </div>

    <div class="flex justify-end">
      <button type="submit" mat-flat-button>Create</button>
    </div>
  </form>
</div>
