<div class="container px-4">
  <h1 class="mb-5 font-bold text-xl">
    Create Rules Group
  </h1>
  <form [formGroup]="createRulesForm" (ngSubmit)="createRules()" class="space-y-6">
    <mat-form-field class="w-full">
      <mat-label>Name</mat-label>
      <input formControlName="name" type="text" matInput>
    </mat-form-field>

    <mat-form-field class="w-full">
      <mat-label>Description</mat-label>
      <textarea formControlName="description" rows="3" matInput placeholder="Add rules description"></textarea>
    </mat-form-field>

    <div class="w-full">
      <div class="space-y-4">
        @for (dimension of groupedRules() | keyvalue; track dimension.key) {
          <div>
            <h2 class="text-lg font-bold mb-2 capitalize">{{ dimension.key }}</h2>

            @let ruleTypes = dimension.value | keyvalue;
            @for (ruleType of ruleTypes; track ruleType.key) {
              <div class="ml-4">
                <h3 class="text-base font-semibold mb-1 capitalize">{{ ruleType.key }}</h3>

                @let rules = ruleType.value;
                <mat-chip-listbox formControlName="rule_ids" multiple>
                  @if (rules) {
                    @for (rule of rules; track rule.id) {
                      <mat-chip-option [value]="rule.id">
                        {{ rule.name }}
                      </mat-chip-option>
                    }
                  }
                </mat-chip-listbox>

                @let ruleTypeId = ruleType.value[0].rule_type.id;
                @if (ruleTypeId !== undefined) {
                  <mat-slider

                    min="0"
                    max="1"
                    step="0.1"
                    discrete
                    class="w-full max-w-xs"
                  >
                    <input [value]="weightsByRuleType()[ruleTypeId]"  (input)="onWeightChange(ruleTypeId, $event)" matSliderThumb />
                  </mat-slider>
                  @if (dimension.key === 'attribute' && sumOfAttributeWeights() !== 1) {
                    <mat-error class="text-red-600 text-sm mt-2">
                      La suma de los pesos de los atributos debe ser exactamente 1.0.
                      Actualmente: {{ sumOfAttributeWeights() }}
                    </mat-error>
                  }
                  @if (dimension.key === 'paradigm' && sumOfParadigmWeights() !== 1) {
                    <mat-error class="text-red-600 text-sm mt-2">
                      La suma de los pesos de los paradigmas debe ser exactamente 1.0.
                      Actualmente: {{ sumOfParadigmWeights() }}
                    </mat-error>
                  }
                }
              </div>
            }
          </div>
        }
      </div>

      <div class="w-full max-w-md mt-4">
        <label class="text-lg font-bold mb-2">Attributes vs Paradigms</label>
        <mat-slider
          min="-100"
          max="100"
          step="1"
          thumbLabel
          discrete
          tickInterval="50"
        >
          <input formControlName="alfa" matSliderThumb />
        </mat-slider>

        <div class="flex justify-between text-sm mt-1 px-1 text-gray-500">
          <span>Attributes (-100)</span>
          <span>Neutral (0)</span>
          <span>Paradigms (+100)</span>
        </div>
      </div>
    </div>

    <div class="flex justify-end">
      <button type="submit" [disabled]="sumOfAttributeWeights() !== 1" mat-flat-button>Create</button>
    </div>
  </form>
</div>
