<div class="container px-4">
  <h1 class="mb-5 font-bold text-xl">
    Create Rules Group
  </h1>
  <form>
    <mat-form-field class="w-full">
      <mat-label>Create rules group name</mat-label>
      <input type="text" matInput>
    </mat-form-field>

    <mat-chip-listbox class="mb-5" aria-label="Rules" multiple>
      @for (rule of rules; track rule) {
        <mat-chip-option>
          {{ rule }}
        </mat-chip-option>
      }
    </mat-chip-listbox>
    <div class="flex justify-end">
      <button type="submit" mat-flat-button>Create</button>
    </div>
  </form>
</div>
