<aside class="w-64 bg-blue-600 text-white flex flex-col h-full">
  <nav class="flex-1">
    <a [routerLink]="['register-repositories']" class="block py-5 px-6 text-gray-200 hover:bg-white hover:text-blue-600"
      >Register New Repository</a
    >
    <a [routerLink]="['evaluate-repositories']" class="block py-5 px-6 text-gray-200 hover:bg-white hover:text-blue-600"
      >Evaluated Repositories</a
    >
    <a [routerLink]="['evaluate-history']" class="block py-5 px-6 text-gray-200 hover:bg-white hover:text-blue-600"
      >Evaluation History</a
    >
  </nav>
</aside>
