<aside class="w-64 bg-blue-600 text-white flex flex-col h-full">
  <nav class="flex-1">
    <a
      [routerLink]="['register-repositories']"
      routerLinkActive="bg-white text-blue-600"
      class="block py-5 px-6 hover:bg-white hover:text-blue-600 flex justify-between"
    >
      Register New Repository
      <icon [path]="mdiChevronRight"></icon>
    </a>

    <a
      [routerLink]="['evaluate-repositories']"
      routerLinkActive="bg-white text-blue-600"
      class="block py-5 px-6 hover:bg-white hover:text-blue-600 flex justify-between"
    >
      Evaluated Repositories
      <icon [path]="mdiChevronRight"></icon>
    </a>

    <a
      [routerLink]="['evaluate-history']"
      routerLinkActive="bg-white text-blue-600"
      class="block py-5 px-6 hover:bg-white hover:text-blue-600 flex justify-between"
    >
      Evaluation History
      <icon [path]="mdiChevronRight"></icon>
    </a>

    <a
      [routerLink]="['create-rules-group']"
      routerLinkActive="bg-white text-blue-600"
      class="block py-5 px-6 hover:bg-white hover:text-blue-600 flex justify-between"
    >
      Create Rules Group
      <icon [path]="mdiChevronRight"></icon>
    </a>

    <a
      [routerLink]="['rules-groups']"
      routerLinkActive="bg-white text-blue-600"
      class="block py-5 px-6 hover:bg-white hover:text-blue-600 flex justify-between"
    >
      Rules Groups
      <icon [path]="mdiChevronRight"></icon>
    </a>
  </nav>
</aside>
