<div class="min-h-screen flex flex-col">
  <dashboard-header [simpleHeader]="true"></dashboard-header>

  <div class="flex flex-col flex-grow items-center justify-center bg-gray-100 text-gray-800">
    <h1 class="text-6xl font-extrabold text-red-600 mb-4">404</h1>
    <h2 class="text-2xl font-semibold mb-2">Page Not Found</h2>
    <p class="text-center text-lg mb-6 max-w-md">
      The page you're looking for doesn't exist or has been moved. Please check the URL or go back to the homepage.
    </p>
    <button mat-flat-button routerLink="/">
      Go to Homepage
    </button>
  </div>

  <dashboard-footer></dashboard-footer>
</div>
