<div class="container px-4">
  <h1 class="mb-5 font-bold text-xl">
    Rules Group
  </h1>
  <div class="grid grid-cols-3 gap-4">
    <mat-card appearance="outlined">
      <mat-card-content>
        <p class="font-semibold mb-3">
          Curso de programación intermedia
        </p>
        <ul class="list-disc text-sm pl-5 mb-3">
          <li>Maintainability</li>
          <li>Scalability</li>
          <li>Inheritance</li>
          <li>Encapsulation</li>
          <li>Reliability</li>
        </ul>
        <button class="w-full" mat-flat-button>Edit</button>
      </mat-card-content>
    </mat-card>
    <mat-card appearance="outlined">
      <mat-card-content>
        <p class="font-semibold mb-3">
          Curso de programación intermedia
        </p>
        <ul class="list-disc text-sm pl-5 mb-3">
          <li>Maintainability</li>
          <li>Scalability</li>
          <li>Inheritance</li>
          <li>Encapsulation</li>
          <li>Reliability</li>
        </ul>
        <button class="w-full" mat-flat-button>Edit</button>
      </mat-card-content>
    </mat-card>
    <mat-card appearance="outlined">
      <mat-card-content>
        <p class="font-semibold mb-3">
          Curso de programación intermedia
        </p>
        <ul class="list-disc text-sm pl-5 mb-3">
          <li>Maintainability</li>
          <li>Scalability</li>
          <li>Inheritance</li>
          <li>Encapsulation</li>
          <li>Reliability</li>
        </ul>
        <button class="w-full" mat-flat-button>Edit</button>
      </mat-card-content>
    </mat-card>
  </div>
</div>

<pre>
  {{ rules() | json }}
</pre>
