<div class="flex items-center justify-center h-screen">
    <div class="w-full max-w-md bg-white p-8 rounded-lg shadow-lg">

      <p class="text-center text-sm text-gray-600 mb-4">
        <a [routerLink]="['/']" class="text-blue-600 hover:underline">Back to the Home Page</a>
      </p>

      <h2 class="text-2xl font-bold text-gray-700 text-center mb-6">
        Register
      </h2>

      <form [formGroup]="registerForm" (ngSubmit)="register()" class="space-y-6">
        <mat-form-field class="w-full" appearance="fill">
          <mat-label>Names</mat-label>
          <input
            matInput
            formControlName="names"
            [errorStateMatcher]="matcher"
          />
          @if (registerForm.get('names')?.hasError('required')) {
            <mat-error>Names are <strong>required</strong></mat-error>
          }
        </mat-form-field>

        <mat-form-field class="w-full" appearance="fill">
          <mat-label>Lastnames</mat-label>
          <input
            matInput
            formControlName="last_names"
            [errorStateMatcher]="matcher"
          />
          @if (registerForm.get('last_names')?.hasError('required')) {
            <mat-error>Lastnames are <strong>required</strong></mat-error>
          }
        </mat-form-field>

        <mat-form-field class="w-full" appearance="fill">
          <mat-label>Cellphone</mat-label>
          <input
            matInput
            formControlName="cellphone"
            [errorStateMatcher]="matcher"
          />
          @if (registerForm.get('cellphone')?.hasError('pattern') && !registerForm.get('cellphone')?.hasError('required')) {
            <mat-error>Cellphone must be exactly 10 numeric digits</mat-error>
          }
          @if (registerForm.get('cellphone')?.hasError('required')) {
            <mat-error>Cellphone is <strong>required</strong></mat-error>
          }
        </mat-form-field>

        <mat-form-field class="w-full" appearance="fill">
          <mat-label>Email</mat-label>
          <input
            matInput
            formControlName="email"
            [errorStateMatcher]="matcher"
          />
          @if (registerForm.get('email')?.hasError('email') && !registerForm.get('email')?.hasError('required')) {
            <mat-error>Please enter a valid email address</mat-error>
          }
          @if (registerForm.get('email')?.hasError('required')) {
            <mat-error>Email is <strong>required</strong></mat-error>
          }
        </mat-form-field>

        <mat-form-field class="w-full" appearance="fill">
          <mat-label>Password</mat-label>
          <input
            matInput
            formControlName="password"
            [errorStateMatcher]="matcher"
          />
          @if (registerForm.get('password')?.hasError('required')) {
            <mat-error>Password is <strong>required</strong></mat-error>
          }
        </mat-form-field>

        <button class="w-full" type="submit" mat-flat-button>Sign up</button>
      </form>

      <p class="mt-6 text-center text-sm text-gray-600">
        ¿Already have an account?
        <a [routerLink]="['/login']" class="text-blue-600 hover:underline">Sign in here</a>
      </p>
    </div>
  </div>
