@use '@angular/material' as mat;

@tailwind base;
@tailwind components;
@tailwind utilities;

@include mat.core();

$my-theme: mat.define-theme((
 color: (
    theme-type: light,
    primary: mat.$blue-palette
  ),
));

html {
  @include mat.core-theme($my-theme);
  @include mat.button-theme($my-theme);
  @include mat.form-field-theme($my-theme);
  @include mat.input-theme($my-theme);
  @include mat.stepper-theme($my-theme);
  @include mat.select-theme($my-theme);
  @include mat.menu-theme($my-theme);
}

.mat-stepper-vertical,
.mat-stepper-horizontal {
  background-color: #fff !important;
}
